@font-face {
  font-family: "Snell Roundhand";
  src: url("../../public/fonts/SnellRoundhand.ttf") format("opentype");
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.main {
  background: #902463;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  word-break: break-word;
}

.main background-image {
  filter: (rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7))
}

/* CARD & ENVELOPE */
.contentContainer {
  margin-left: var(--card-margin-left);
  padding: 3em 8vw;
}

.cardAndEnvelope {
  position: relative;
  width: min-content;
}

/* ENVELOPE */
.envelope {
  position: absolute;
  height: 322.21px;
  width: 391px;
  bottom: 310px;
  z-index: 0;
  right: -310px;
  filter: brightness(0.95) saturate(1.5);
  transform: rotate(-30deg) scale(1.3);
}

/* CARD */
.card {
  width: var(--card-width);
  background-color: #FFECF7;
  z-index: 5;
  position: relative;
  filter: drop-shadow(20px 30px 44px #902463);
}

.cardTextBottom,
.cardTextTop,
.cardName {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 1em;
  padding: 2em;
  margin: 0;
  position: relative;
  z-index: 2;
}

.cardNameAndGreeting {
  display: flex;
  color: #902463;
}

.cardName {
  flex: 1;
  padding-left: 1em;
}

.cardTextTop {
  text-align: right;
  flex: 2;
  padding-right: 1em;
  /* padding-top: 2em; */
}

.cardTextBottom {
  text-align: left;
  /* padding-bottom: 2em; */
  padding-left: 1em;
  color: #902463;
}

.cardTitle,
.cardTitle2 {
  font-family: Snell Roundhand;
  font-weight: 300;
  transform: rotate(-26.28deg);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #902463;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.cardTitle {
  font-size: 13em;
  margin-bottom: -.7em;
  padding-top: 0.5em;
  margin-left: -18%;

}

.cardTitle2 {
  font-size: 7em;
  padding-left: 2em;
  margin-top: .7em;
  padding-bottom: .5em;
}

/* DRESS CODE */
.dressCodeContainer {
  margin: 2em 0;
  width: 980px;
  background-color: #FFECF7;
}

.dressCodeContainer,
.card,
.formBox,
.formContainer {
  border-radius: 10px;
}

.dressCodeTitle,
.sucessTitle {
  font-family: Snell Roundhand;
  font-weight: 100;
  font-size: 3em;
  padding: 1em 16px 0 16px;
  margin-bottom: 0;
  line-height: 0.7em;
  text-align: center;
  color: #902463;
}

.dressCodeCaption {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  text-align: center;
  font-weight: 300;
  margin-top: 0.5em;
  margin-bottom: 3em;
  color: #902463;
}

.dressCodeDescription {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  color: #902463;
  padding: 0 16px;
  padding-bottom: 3em;
  font-weight: 300;
}

.forHer {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: right;
}

/* FORM */
.formBox {
  background-color: #FFECF7;
  width: 980px;
}

.formContainer {
  background-color: #FFECF7;
  margin-right: -20%;
  position: relative;
  margin: 0 auto;
  margin-top: 2em;

}



/* .formQuestions,
.formInputs {
  display: grid;
  grid-auto-rows: auto;
  padding: 2em;
  font-size: 1.0em;
  color: #902463;
} */
.formQuestions {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
}

.formInputs {
  justify-items: end;
}

.formText {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  color: #902463;
}

.formBtn,
.submitBtn {
  background-color: white;
  color: black;
  font-family: 'Playfair Display', serif;
  border: none;
  border-radius: 10px;
  padding: .1em .4em;
  text-align: center;
  display: inline-block;
  color: #902463;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #f1cbe2;
  padding: 0.5em 1em;
}

.formBtn:hover,
.submitBtn:hover {
  border: 1px solid #902463 !important;
}

.selectedBtn {
  border: 1px solid #902463 !important;
  background-color: #f1cee2;
}

.submitBtn {
  align-items: center;
  margin-top: 10px;
}

.yesBtn {
  padding-right: 3em;
  padding-left: 3em;
}

.formBtn:hover,
.formBtn:focus,
.submitBtn:hover,
.submitBtn:focus {
  border: 1px solid black;
}

.formBtn:active,
.submitBtn:active {
  border: 1px solid black;
}

.formCheckbox {
  display: none;
}

.formCheckbox+label {
  position: relative;
  cursor: pointer;
  font-size: 1em;
}

.formCheckbox+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 21px;
  height: 21px;
  border: 1px solid black;
  background: white;
  border-radius: 10%;
}

.formCheckbox:checked+label:after {
  content: "✔";
  left: 3%;
  top: 17px;
  position: relative;
  border: solid #902463;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.formNameInput {
  width: 21%;
  text-align: left;
  cursor: unset;
}

.submitContainer {
  display: flex;
  justify-content: center;
  padding: 16px;
  margin-top: 3em;

}

.submitBtn {
  width: 12%;
  background: #902463;
  color: #ffecf7;
  border: none;
}

/* SUCCESS PAGE */
.successMain {
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #902463;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  word-break: break-word;
  border: 0;
}

.successContainer {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-right: 18%;
  padding: 2em;
  margin: 0 auto;
  width: 55%;
  position: relative;
  background-color: #FFECF7;
}

.spotifyContainer {
  border-radius: 12px;
}

@media (max-width: 600px) {
  .contentContainer {
    margin-left: var(--card-margin-left);
    padding: 0em 0vw;
    padding-top: 2em;
    padding-left: 0em;
  }

  .envelope {
    display: none;
  }

  .card {
    width: 85%;
    background-color: #FFECF7;
    z-index: 5;
    position: relative;
  }

  .cardTitle {
    font-size: 6em;
  }

  .cardAndEnvelope {
    width: unset;
  }
  .cardTitle2 {
    font-size: 4em;
  }
  .submitBtn{
    width: 100%;
  }
  
  .dressCodeContainer,
  .formBox {
    width: 85%;
  }

  .dressCodeContainer {
    padding-bottom: 1em;
  }

  .formBox {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  .formText {
    font-size: .7em;
  }

  .formCheckbox {
    float: right;
  }

  .formNameInput {
    width: 50%;
    float: right;
  }

  .dressCodeTitle {
    font-size: 1.5em;
  }

  .dressCodeCaption {
    font-size: .65em;
  }

  .dressCodeDescription {
    font-size: .65em;
  }

  .yesBtn,
  .submitBtn {
    padding: 0.35em 1em;
  }

  .envelope {
    position: absolute;
    height: 281.105;
    width: 344.705;
    bottom: -5px;
    z-index: 0;
    left: 10vw;
    filter: brightness(0.95) saturate(1.5);
  }

  .successMain {
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #902463;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    word-break: break-word;
    border: 0;
  }

  .successContainer {
    position: relative;
    padding-top: 0em;
    width: 55%;
  }

  .sucessTitle {
    line-height: 1.1;
    font-size: 2em;
  }

  .submitBtn {
    margin-top: 1em;
  }

  .spotifyContainer {
    height: 152px
  }
}