html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  --card-width: 620px;
  --card-margin-left: 15vw;
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

nav {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 1em;
  padding: 0em;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "EB Garamond", serif;
  font-size: 1.5em;
  padding-right: 4.5em;
  padding-left: 4.5em;
}

.footerContainer {
  color: black;
  font-size: 1em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0em;
  bottom: 0;
  position: relative;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.richTextContainer {
  padding: 1em;
  text-align: left;
  position: relative;
}

.footerTextYear {
  font-size: 1em;
  color: black;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0;
  text-align: right;
  padding-right: 1em;
  padding-top: 1em;
  justify-content: center;
  padding: 1em;
}

.footerTextName {
  font-size: 1.5em;
  text-align: right;
  margin: 0 auto;
  padding-top: 0.5em;
}

.footerLinkName {
  text-align: left;
  margin: 0 auto;
  padding-top: 0.5em;
}

/* @media only screen and (orientation:landscape) {
  body {
    height: 100vw;
    transform: rotate(90deg);
  }
} */
@media only screen and (max-width: 600px) {
  .footerContainer {
    color: black;
    font-size: 1em;
    height: 20vh;
    max-width: 90%;
    padding-top: 2em;
  }

  .richTextContainer {
    padding: 0.05em;
    flex-basis: 0%;
    min-width: 100%;
  }

  .footerTextName {
    font-size: 1em;
  }

  .footerText {
    font-size: 1em;
  }

  .footerTextName {
    font-size: 2em;
  }

  .footerTextYear {
    padding-right: 0em;
  }
}