* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

nav {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li{
  margin-left: 1em; 
  padding: 0em;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
  padding-right: 4.5em;
  padding-left: 4.5em;
}

.footerContainer {
  color: black;
  font-size: 1em;
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.richTextContainer {
  flex-basis: 50%;
  padding: 1em;
  text-align: left;
}

.footerTextYear {
  font-size: 1em;
  color: black;
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  padding: 0;
  text-align: right;
  padding: 1em;
}

.footerTextName {
  font-size: 3em;
  text-align: right;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 600px) {

}

/* @media only screen and (orientation:landscape) {
  body {
    height: 100vw;
    transform: rotate(90deg);
  }
} */