@font-face {
  font-family: "Commuter-Sans";
  src: url("../../public/fonts/CommutersSans-ExtraLight.ttf") format("opentype");
  /*optimize font loading and enhance text visibility during the loading process, you can use the font-display CSS property within your @font-face rule. The font-display property determines how a font is displayed based on whether and when it is downloaded and ready to use.
  find the woff versions of these fonts
 */
}

@font-face {
  font-family: "Cormorant-Garamond";
  src: url("../../public/fonts/CormorantGaramond-Light.ttf") format("truetype");
}

.main {
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1em;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.headerIntro {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  padding-left: 1em;
  text-transform: uppercase;
}

.introAndPicture {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  height: 70vh;
  overflow: hidden;
}

.textContainer {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.intro {
  font-family: Cormorant-Garamond;
  padding: 0em 0em 0em 1em;
  font-size: 3.5em;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-family: "Inter", sans-serif;
  padding: 0em 0em 0em 1em;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}

.imageContainer {
  float: right;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.introGrid {
  display: grid;
  grid-template-columns: 1fr 4.5fr; 
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
}

.introTitle {
  font-family: 'Inter', sans-serif;
  font-size: .8em; 
  text-transform: uppercase; 
  padding-left: 2.5em;
}

.introTech {
  font-family: Cormorant Garamond;
  font-size: 2em; 
  text-transform: uppercase; 
}

.active {
  color: fuchsia;
}

.heroSection {
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  padding-bottom: 6em;
}

.heroText {
  font-size: 12em;
  color: black;
}

.contentContainer {
  padding-bottom: 4em;
}

.projectsTitle {
  font-family: Cormorant-Garamond;
  text-transform: capitalize;
  font-size: 3em;
  margin: 0 auto;
  padding: 0.5em;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}

.experienceContainer {
  display: flex;
  align-items: flex-start;
  padding: 4em;
}

.experienceTitle, .experiences {
  width: 50%; 
}

.experienceTitle {
  transition: all 0.3s; 
  background-color: #c0c0c0;
  width: 100%; 
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top:0;
  font-family: Cormorant-Garamond;
  font-size: 2em;
}

.position {
  font-family: 'Inter', sans-serif;
  font-size: 0.8em;
}

.fixedElement {
  position: fixed;
  top: 0;
}

.experiences {
  display: flex;
  flex-direction: column;
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

.time {
  font-family:  Cormorant-Garamond;
  font-size: 1em;
  color: #666;
  padding-right: 3em;
  top: 0;
} 

.details {
  display: flex; 
  align-items: center;
}

.rightDetails {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.company a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  text-decoration: underline;
  font-size: 0.8em;
}

.sectionLine {
  border-top: 0.07em solid black;
}

.projectGrid {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.sectionTitle {
  grid-area: 1 / 2 / 3 / 3;
  font-family: Cormorant-Garamond;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  text-align: left;
  padding-left: .5em;
  color: black;
}

.projectTitleAndDescription{
  display: flex;
  flex-direction: column;
}

.projectDescription {
  padding-left: .5em;
  padding-bottom: 0.7em;
  padding-top: 0.3em;
  text-align: left;
  font-size: .9em;
  font-family: "Inter", sans-serif;
}

.projectImageWrapper {
  flex-shrink: 0; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.projectImage{
  max-width: 100%; 
  height: auto;
  grid-area: 1 / 1 / 2 / 2;
}

.projectType {
  grid-area: 1 / 3 / 2 / 4;
  font-family: Helvetica;
  padding: 0.5;
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.projectLanguages {
  grid-area: 1 / 4 / 2 / 5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  padding: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.projectView {
  grid-area: 1 / 6 / 2 / 7;
  font-family: Cormorant-Garamond;
  font-size: 1.75em;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em;
  color: black;
}

.arrow {
  grid-area: 1 / 7 / 2 / 8;
  text-align: right;
  justify-content: center;
  display: flex;
  padding: 1em;
  align-items: center;
}

.projectsContainer {
  z-index: 1;
  padding-top: 4em;
  width: 100%;
  position: relative;
  height: 100%;
}

.githubIcon {
  grid-area: 1 / 3 / 2 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  color: black;
  margin-right: 1em;
  z-index: 1;
}

/* .projectImageContainer {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: 0 auto;
} */

/* .videoContainer {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -47.5%;
  left: 15%;
}

.videoContainer video {
  width: 90%;
  height:90%;
  object-fit: cover;
  left: 0;
} */

@media (max-width: 600px) {
  .headerIntro {
    font-size: 1em;
    font-weight: 300;
    padding: 1em;
  }

  .openerName {
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 6em;
    padding-top: 10em;
    padding-right: 3em;
    padding-left: 4em;
  }

  .nameCenter {
    font-size: 7em;
    padding-top: 0em;
  }

  .sectionTitle,
  .projectView {
    font-size: 1em;
  }

  .heroSection {
    padding-bottom:0em;
  }

  .projectType,
  .projectLanguages {
    font-size: 0.5em;
  }

  .projectsContainer {
    padding-top: 1em;
  }
}

.projectImage {
  /* height: 100vh; */
  position:relative;
  display: block;
}

.stickyBar {
  position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
  position: sticky;
  background-color: #c0c0c0;
  top:0;
}