@font-face {
  font-family: "Commuter-Sans";
  src: url("../../public/fonts/CommutersSans-ExtraLight.ttf") format("opentype");
}

@font-face {
  font-family: "Cormorant-Garamond";
  src: url("../../public/fonts/CormorantGaramond-Light.ttf") format("truetype");
}

.main {
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1em;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.headerIntro {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 2.5em;
  padding: 0.5em;
}

.nameSection {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 1em black;
}

.openerName {
  font-family: "Cormorant-Garamond";
  font-size: 4.7em;
  padding-left: 3em;
  padding-top: 2em;
  padding-bottom: 0.75em;
  text-align: center;
  width: 50%;
}

.nameHeader {
  font-family: "EB Garamond", serif;
  color: black;
  font-size: 2em;
  position: relative;
  margin-left: 0;
}

.nameContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.nameCenter {
  font-family: "Commuter-Sans";
  color: black;
  font-size: 27em;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
}

.subtitle {
  color: black;
  font-size: 16px;
  font-family: "Cormorant Garamound", serif;
  margin-right: 50px;
}

.active {
  color: fuchsia;
}

.heroSection {
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.heroText {
  font-size: 12em;
  color: black;
}

.contentContainer {
  padding-bottom: 4em;
}

.projectsTitle {
  font-family: Cormorant-Garamond;
  font-size: 3em;
  margin: 0 auto;
  padding: 0.5em;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}

.sectionLine {
  border-top: 0.1em solid black;
}

.projectGrid {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 3fr 0.5fr;
  grid-template-rows: 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.sectionTitle {
  grid-area: 1 / 1 / 2 / 2;
  font-family: Cormorant-Garamond;
  font-size: 1.75em;
  padding: 0.5em;
  display: flex;
  text-align: left;
  padding-left: 1em;
  color: black;
}

.projectType {
  grid-area: 1 / 2 / 2 / 3;
  font-family: Helvetica;
  padding: 0.5;
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.projectLanguages {
  grid-area: 1 / 3 / 2 / 4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  padding: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.projectView {
  grid-area: 1 / 4 / 2 / 5;
  font-family: Cormorant-Garamond;
  font-size: 1.75em;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  padding: 0.5em;
  color: black;
}

.arrow {
  grid-area: 1 / 5 / 2 / 6;
  text-align: right;
  justify-content: center;
  display: flex;
  padding: 1em;
}

.projectsContainer {
  z-index: 1;
  padding-top: 4em;
  width: 100%;
  position: relative;
}

.githubIcon {
  grid-area: 1 / 4 / 2 / 5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em;
  color: black;
  margin-right: 1em;
  z-index: 1;
}


/* .projectImageContainer {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: 0 auto;
} */

/* .videoContainer {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -47.5%;
  left: 15%;
}

.videoContainer video {
  width: 90%;
  height:90%;
  object-fit: cover;
  left: 0;
} */

@media (max-width: 600px) {
  .headerIntro {
    font-size: 1em;
    font-weight: 300;
    padding: 1em;
  }

  .openerName {
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 6em;
    padding-top: 10em;
    padding-right: 3em;
    padding-left: 4em;
  }

  .nameCenter {
    font-size: 7em;
    padding-top: 0em;
  }

  .projectsTitle {
    font-size: 2.3em;
  }

  .sectionTitle,
  .projectView {
    font-size: 1em;
  }

  .arrow {
  
  }

  .projectType,
  .projectLanguages {
    font-size: 0.5em;
  }

  .projectsContainer{
    padding-top: 1em;
  }
}

.projectImageContainer {
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 1em;
}